body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: whitesmoke;
}

img {
    padding: 5px 0 0 12px;
}

.tlo {
    margin: 0;
    background-color: #98CCFD;
    width: 100%;
    height: 20rem;
}

.stopka {
    height: 10rem;
    display: inline-block;
}

.wrapper {
    padding-top: 2rem;
    height: 10rem;
    width: 100%;
    display: flex;
    bottom: 0;
    position: relative;
    left: 37%;
}

#logo {
    width: 86%;
    height: 10rem;
    display: inline-block;
}

#socials {
    width: 13%;
    display: inline-block;
}

.text {
    text-align: center;
    font-family: 'Barol', 'Open Sans';
    font-size: 26px;
}

#text2 {
    font-family: 'Barol', 'Open Sans';
    font-size: 26px;
    color: #FDC998;
}

.textcol {
    padding: 20px;
    font-weight: bold;
}

.bloki {
    display: flex;
    justify-content: space-around;
}

.block {
    background: #FDC998;
    border-radius: 60px;
    height: 600px;
    width: 33%;
    box-shadow: 1px 1px black;
    /* flex: 1; */
}

.block2 {
    display: inline-block;
    width: 526px;
    height: 359px;
    background: #C4C4C4;
    border-radius: 20px;
}

.kolko {
    text-align: center;
    padding: 20px;
    padding-right: 30px;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 90%;
}

#awatar {
    display: block;
    padding-top: 25px;
}

@font-face {
    font-family: Barol;
    src: url(fonts/Bariol_Regular.otf);
}