* {
    font-family: Barol;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    width: 100vw;
    max-width: 1280px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-social {
    display: flex;
}

#nav-social>div {
    padding: .5rem;
}

#nav-logo>div {
    padding: .5rem;
}

#main-text {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

#main-sub-text {
    font-size: 1.5rem;
}

#avatar {
    padding: 1rem;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

#info {
    height: 200px;
    position: relative;
    background-color: aqua;
}

.info-left-border {
    position: absolute;
    width: 10%;
    background: linear-gradient(to left, rgb(101, 201, 255), white);
    height: 100%;
}

.info-right-border {
    position: absolute;
    right: 0;
    width: 10%;
    background: linear-gradient(to right, rgb(101, 201, 255), white);
    height: 100%;
}

#about {
    background-color: rgb(101, 201, 255);
    margin: 0 10%;
    height: 100%;
    text-align: center;
}

#about>h1 {
    padding: 2rem;
}

#about>span {
    font-size: 1.25rem;
}

#skills {
    padding: 5rem 1rem;
    height: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header {
    color: #ff9865;
    font-weight: bold;
    font-size: 1.30rem;
}

.block {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    height: 100%;
    width: 25%;
}

.block2 {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    min-height: 25%;
    max-width: 35%;
}

footer {
    padding: 1.5rem;
    /* background-color: rgb(101, 201, 255); */
    display: flex;
    justify-content: space-between;
}

.contact-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Barol;
    src: url(fonts/Bariol_Regular.otf);
}